.services {
  padding: 5rem 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.servicesText {
  width: 50%;
  max-width: 700px;
}

.serviceList {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.company {
  padding: 5rem 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #274c77;
}

.companyText {
  width: 50%;
  max-width: 700px;
}

.moreButton {
  font-style: italic;
}

.moreButton:hover {
  cursor: pointer;
  text-decoration: underline;
}

.founderImage {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonContainer {
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  background-color: #274c77;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background-color: #cfc7bb;
  color: #274c77;
  border: var(--foreground);
  gap: 8px;
}

@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background-color: #274c77;
    color: #cfc7bb;
    border: 1px solid #cfc7bb;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .servicesText,
  .companyText {
    width: 100%;
  }

  .servicesText h1,
  .companyText h1 {
    text-align: center;
  }

  .serviceList,
  .founderImage {
    display: none;
  }
}